*{
   margin: 0;
   padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;;
}

a{
    text-decoration: none;
}

.header{
    background-color: #000000;
    padding: 22px 15px;
    margin: 0 auto;
    
}

.container{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;

}

.icon{
    width: 87px;
    height: 31px;
}
.nav{
    display: flex;
    align-items: flex-start;
    column-gap: 30px;
}
.nav__link{
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #FFFFFF;
}