.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

<body>{
    padding: 100px 0;
}

.awesome__title {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.awesome__line {
    width: 170px;
    height: 1px;
    background: #EC7979;
    margin: 40px auto;
}

.awesome__subtitle {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 80px;
}

.awesome__cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction:column;
    align-items: center;
}

.awesome__card {
    width: 370px;
    text-align: center;
}

.card-icon {
    width: 92px;
    height: 92px;
    margin-bottom: 30px;
}

.card-title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card-text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
}
.pricing {
    padding: 100px 0;
    background-color: #F5F5F5;
}

.pricing__title {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}

.pricing__line {
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 40px auto;
}

.pricing__subtitle {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-bottom: 80px;
}

.pricing__cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.pricing__card {
    width: 370px;
    text-align: center;
}

.pricing__card--active {
    margin-top: 20px;
}

.pricing__header {
    height: 60px;
    background-color: #333333;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;

    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing__price {
    height: 100px;
    background-color: #333333;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;

    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing__status {
    height: 50px;
    background-color: #333333;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid #FFFFFF;

    font-family: "Raleway", sans-serif;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing__feature {
    height: 50px;
    background-color: #FFFFFF;
    color: #86878B;
    border-bottom: 1px solid #EAEAEA;

    font-family: "Raleway", sans-serif;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}