* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__section {
    padding: 22px 0;
    background-color: #000000;
}

.header__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    column-gap: 3px;
    width: 87px;
    height: 31px;
}

.nav__list {
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 30px;
}

.nav__link {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    color: #FFFFFF;
}


.social__section {
    padding: 32px 0 20px;
    background-color: #F5F5F5;
}

.social__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.social__container_info {
    max-width: 470px;
}

.social__container_links {
    max-width: 670px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.social__header {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
    margin-bottom: 14px;
}

.social__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}


.awesome__section {
    padding: 100px 0;
    background-color: #FFFFFF;
}

.awesome__header {
    margin-bottom: 92px;
    text-align: center;
    color: #000000;
}

.title{
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.line {
    display: inline-block;
    width: 170px;
    height: 0;
    border: 1px solid #EC7979;
    
}

.text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #86878B;
    margin-top: 40px;
}

.awesome__list {
    display: flex;
    justify-content: center;
    column-gap: 27px;
}

.awesome__item {
    width: 371px;
    text-align: center;
}

.awesome__wrapper-icon {
    width: 92.25px;
    height: 92px; 
    margin: 0 auto 24px auto;
}

.awesome__title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    margin-bottom: 26px;
}

.awesome__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}


.pricing__section {
    padding: 82.5px 0;
    background-color: #F5F5F5;
}

.pricing__conteiner {
    text-align: center;
}

.pricing__blocks {
    margin-top: 79px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.pricing__block {
    width: 370px;
    background-color: #FFFFFF;
}

.pricing__title {
    margin: 13px 0;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    color: #FFFFFF
}

.pricing__price {
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 29px 0;
}

.pricing__item {
    border: 2px solid #F5F5F5;
}

.pricing__item_dark-bg {
    background-color: #333333;
}

.pricing__subtitle,
.pricing__text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #86878B;
    padding: 14px 0;
}

.footer__section {
    padding: 35px 0 27px;
    background-color: #000000;
}

.footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32.8px;
}

.footer__link {
    max-width: 53.2px;
    height: 53.2px; 
}

.footer__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: rgba(217, 217, 217, 0.5);
    text-align: center;
    margin-top: 24px;
}

.feedback__section {
    padding: 127.5px 0;
    background-color: #FFFFFF;
}

.feedback__header {
    text-align: center;
}

.feedback__items {
    display: flex;
    column-gap: 29.97px;
}

.feedback__item {
    margin-top: 83px;
    width: 369.68px;
}

.feedback__text {
    text-align: center;
    padding: 38px 0 37px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #86878B
}

.feedback__customer {
    display: flex;
    column-gap: 29.97px;
    margin-top: 46px;
}

.feedback__wrapper-icon {
    
}

.feedback__img {
    width: 69.94px;
    height: 70px;
    border-radius: 50%;
}

.feedback__name {
    margin-bottom: 18px;
}

