* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body{
  font-family: 'Raleway', sans-serif;
  color: #333;
}

section{
  text-align: center;
}


.features {
   max-height: auto;
   padding: 100px 0;
   text-align: center;
}

.container{
  max-width: 1200px;
margin: 0 auto;
padding: 0 15px;

}


.features__title {
  line-height: 42px;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 400;
  
}


.features__line {

  max-width: 170px;
  border: 1px solid #EC7979;
  margin: 0 auto 40px;
}

.features__subtitle {
  color: #777;
  font-size: 14px;
  margin-bottom: 92px;
}

.h2 {
font-weight: 400;
font-size: 36px;
line-height: 42px;
text-transform: uppercase;
margin-bottom: 40px;
}

.p{
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.feature__cards {
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: 371px;
  max-height: 259px;
}

.feature__card {
  max-width: 370px;
}


.feature-card__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
  margin-bottom: 26px;
  font-family: 'Open sans', sans-serif;
}

.feature-card__text {
  font-size: 18px;
  color: #555;
  line-height: 21px;
}




.options {
  background-color: #F5F5F5;
  padding: 82px 0 83px;
}


.options__title {
  font-weight: 400;
  font-size: 36px;
  color: #000;
  font-family: 'Raleway', sans-serif ;
  margin-bottom: 40px;
  line-height: 42px;
}

.options__text {
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
  margin-bottom: 79px;
}

.options__line {
  max-width: 170px;
  border: 1px solid #EC7979;
  margin: 0 auto 40px;
}

.options__block {
  display: inline-block;
  margin-right: 20px;
  max-width: 370.49px;
  width: 100%;
}

.options__block:last-child {
  margin-right: 0;
}

.options__name {
  font-size: 24px;
  line-height:34px;
  color: #fff;
  background-color: #333333;
  margin-bottom: 2px;
  padding: 12px 10px 14px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.options__price {
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  background-color: #333333;
  margin-bottom: 2px;
  font-weight: 700;
  padding: 29px 10px 29px;
}

.options__promotion {
  font-size: 18px;
  line-height: 22px;
  color: #86878B;
  background-color: #333333;
  margin-bottom: 2px;
  font-weight: 400;
  padding: 14px 10px 14px;

}

.options__description{
  font-size: 18px;
  line-height: 22px;
  padding: 14px 10px;
  margin-bottom: 2px;
  background-color: #FFFFFF;
color:#86878B;
font-family: 'Raleway', sans-serif;
}


.container__header{
   background-color: #000000;
   max-width: 1510px;
   margin: 0 auto;
   padding: 0 15px;
}

.header__logo{
 font-weight: 87px;
 font-size: 31px;
 
}