/* font-family: "Raleway", sans-serif; */
/* font-family: "Open Sans", sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}


/*  */
.mainheader {
    background-color: #000000;
    padding: 22px 0;
}

.mainheader__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.mainheader__logo {
    padding: auto;
}

.nav__items {
    display: flex;
    column-gap: 30px;
    list-style-type: none;
}

.nav__link {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    color: #FFFFFF;
}


/*  */
.banner {
    padding: 306px 0 250px;
    text-align: left;
    background-image: url(../assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
}

.banner::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;
    top: 0;
    left: 0;
}

.banner__container {
    position: relative;

}

.banner__logo {
    margin-bottom: 73px;

}

.banner__title {
    margin-bottom: 80px;
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 734px;

    position: relative;
}

.banner__title::after {
    content: '';
    display: inline-block;
    width: 170px;
    height: 2px;
    background-color: #FFFFFF;

    position: absolute;
    /* top: 100%; */
    bottom: -40px;
    left: 0;
    /* left: calc(50% - 85px); */
}

.banner__text {
    max-width: 270px;
    margin-bottom: 50px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
}

.button {
    padding: 15.5px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    text-transform: capitalize;
}

.button_banner {
    min-width: 270px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}


/*  */
.social {
    background-color: #F5F5F5;
    padding: 32px 0 20px;
}

.social__container {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.social__info {
    max-width: 470px;
}

.social__title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
}

.social__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin-top: 14px;
    color: #333333;
    opacity: 0.4;
}

.social__wrapper-icon {
    display: flex;
    column-gap: 30px;
}

.social__icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*  */
.awesome {
    padding: 100px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    position: relative;
}

.header__title {
    text-transform: uppercase;
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;

    position: relative;
}

.header__title::after {
    content: '';
    display: inline-block;
    width: 170px;
    height: 2px;
    background-color: #EC7979;

    position: absolute;
    /* top: 100%; */
    bottom: -40px;
    /* left: calc(50% - 85px); */
    left: 50%;
    transform: translateX(-50%);
    /* margin-top: 40px; */
}

.header__separator {
    max-width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 40px auto;
}

.header__text {
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.awesome__items {
    margin-top: 92px;
    display: flex;
}

.awesome__item {
    max-width: 371px;
    margin-right: 27px;
}

.awesome__item:last-child {
    margin-right: 0;
}

/* .image {
    width: 100px;
    width: 100vw;
    min-width: 50vw;
    max-width: 80vw;
    height: 100vh;
    max-height: 50vh;
} */

.awesome__icon {
    width: 92px;
    height: 92px;
    margin: 0 auto 24px;
}

.awesome__name {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    margin-bottom: 26px;
}

.awesome__text {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}


/*  */
.options {
    padding: 82px 0;
    text-align: center;
    background-color: #F5F5F5;
}

.options__items {
    display: flex;
    margin-top: 79px;
}

.options__item {
    max-width: 370px;
    width: 100%;
    margin-right: 30px;
}

.options__item:last-child {
    margin-right: 0;
}

.options__name {
    padding: 13px 10px;
    background-color: #000000;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: capitalize;
}

.options__price {
    padding: 29px 10px;
    background-color: #000000;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    color: #FFFFFF;
}

.options__text {
    padding: 14px 10px;
    background-color: #000000;
    border-style: solid;
    border-width: 2px;
    border-color: #F5F5F5;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #86878B;
}

.options__list-item {
    padding: 14px 10px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    border-color: #F5F5F5;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #86878B;
    text-transform: capitalize;
    list-style-type: none;
}

/*  */
.feedback {
    padding: 127px 0;
    text-align: center;
}

.feedback__container {}

.feedback__items {
    display: flex;
    margin-top: 83px;
    column-gap: 30px;
}

.feedback__item {
    flex-basis: 370px;
}

.feedback__text {
    padding: 38px 25px;
    background: #E2E2E2;
    border-radius: 10px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #86878B;

    position: relative;
}

.feedback__text::after {
    content: '';
    display: inline-block;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #E2E2E2;

    position: absolute;
    top: 100%;
    left: 70px;
}

.feedback__contact {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    column-gap: 30px;
}

.feedback__contact-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback_contact-info {
    text-align: left;
    flex-grow: 1;
}

.feedback__contact-name {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.feedback__contact-job {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}


/*  */
.design {
    padding: 70px 0;
    text-align: center;
    background-image: url(../assets/image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
}

.design::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;
    top: 0;
    left: 0;
}

.design__title {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color: #FFFFFF;
}

.design__text {
    margin-bottom: 80px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #FFFFFF;
}

.button_design {
    min-width: 370px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}


/*  */
.contact {
    padding: 121px 0;
    text-align: center;
}

.form {
    margin-top: 89px;
}

.form__group {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-bottom: 50px;
}

.form__inputs {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.form__input {
    width: 100%;
    /* height: 38px; */
    /* padding: 11px 0; */
    padding-bottom: 19px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.form__input::placeholder {
    color: #BDBDBD;
    text-transform: capitalize;
}

.form__message {
    resize: none;
    outline: none;
    width: 50%;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.form__message::placeholder {
    color: #BDBDBD;
    text-transform: capitalize;
}

.button_send-message {
    min-width: 370px;
    background-color: #EC7979;
    border: none;
    color: #FFFFFF;
}



/*  */
.footer {
    background-color: #000000;
    padding: 35px 0 27px;
    justify-content: center;
}

.footer__icons {
    display: flex;
    align-items: center;
    column-gap: 33px;
    justify-content: center;
    margin-bottom: 27px;
}

.footer__icon {
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__info {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    vertical-align: middle;
    color: #D9D9D9;
}