.social-media {
   background-color: #F5F5F5;
   padding: 32px 0 20px;
}

.social-media__container {
   display: flex;
   justify-content: space-between;
   column-gap: 10px;
}

.social-media__title {
   font-family: "Open Sans", sans-serif;
   color: #333333;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   margin-bottom: 14px;
}

.social-media__description {
   color: #333333;
   font-size: 18px;
   line-height: 21px;
   text-align: left;
   opacity: 0.4;
}

.social-media__logos {
   display: flex;
   justify-content: space-between;
   column-gap: 30px;
   align-items: center;
}

.social-media__logo {
   height: 70px;
   width: 70px;
   display: flex;
   align-items: center;
   justify-content: center;
}