*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: "Raleway", sans-serif;
} 

.container{
    max-width: 1200px;
    padding: 15px 0;
    margin: 0 auto;
}

.header{
    background-color:#000000 ;
    padding: 22px ;

}
.header__container{
    display: flex;
    justify-content: space-between;
}

.header__links{
    display: flex;
    column-gap: 30px;
}
.header__link{
    font-family: "Open Sans", sans-serif;
    color:#FFFFFF ;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
}

.banner{
    padding: 306px 0px 250px 170px ;
    background-image: url(../img/banner_bnr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:left ;
    position: relative;

}
.banner::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.banner__container{
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    position: relative;
}


.banner__title{
    font-weight: 500;
    font-style: medium;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    margin:72px 0px 80px;
    color: rgba(255, 255, 255, 1);
    position: relative;
    max-width: 734px ;


}



.banner__title::after{
content: "";
display: inline-block;
width: 170px;
height: 2px;
background-color: #FFFFFF;
position: absolute;
top: 130%;
left: 0;
background-color: #FFFFFF;

}

.banner__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 50px;
    max-width: 270px;
}

.banner__button{
    min-width: 270px;
    text-align: center;
    background-color: transparent;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-transform: capitalize;
    border: 2px #FFFFFF solid ;
    padding: 14px 0;
}

.social{
    padding: 32px 0 20px;
    background-color: #F5F5F5;
}

.social__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__info{
   max-width: 470px;
}

.social__title{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 14px;
}
.social__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    opacity: 40%;
}
.social__links{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.social__link{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__link:hover{
    transform: scale(2);
}

.preview{
    padding: 100px 0;
}
.preview__container{
    max-width: 1200px;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 0 auto;
}
.preview__title{
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 80px;
    position: relative;
    text-transform: uppercase;
}
 
.preview__title::after{
    content: " ";
    position: absolute;
    width: 170px;
    height: 2px;
    background-color: #EC7979;
    bottom: -40px;
    left: calc(50% - 85px);
}

.preview__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 92px;
    color: #86878B;
}
.preview__items{
    display: flex;
    justify-content: space-between;
    column-gap: 27px;
 
}



.item__icon{
    margin-bottom: 24px;
}
.item__title{
font-family: "Open Sans", sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 33px;
margin-bottom: 26px;

}


.item__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.offer__container{
    max-width: 1200px;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 0 auto;
}

.offer{
    padding: 82px 0;
    background-color: #F5F5F5
}

.offer__title{
    text-transform: uppercase;
    line-height: 42px;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 80px;
    position: relative;
}

.offer__title::after{
    content: " ";
    position: absolute;
    width: 170px;
    height: 2px;
    background-color: #EC7979;
    bottom: -40px;
    left: calc(50% - 85px);
}
.offer__text{
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin-bottom: 79px;
}
.offer__lists{
    display: flex;
    column-gap: 30px;
 
}

.offer__list{
    max-width: 370px;
    width: 100%;
    list-style-type: none;
}

.list__title{
    font-family: "Open Sans", sans-serif;
    background-color:#333333 ;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    border: 2px #F5F5F5 solid;
    padding: 13px;
}

.list__amount{
    background-color:#333333 ;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    border: 2px #F5F5F5 solid;
    padding: 29px;
}

.list__text{
    color: #86878B;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    background-color: #333333;
    padding: 14px;
    border: 2px #F5F5F5 solid;
}

.list__item{
    border: 2px rgba(245, 245, 245, 1) solid;
    text-transform: capitalize;
    background-color: #FFFFFF;
    padding: 14px 10px;
    font-size: 18px;
    line-height: 22px;
    color: #86878B;
}
.review{
    padding: 82px 0;
}
.review__container{
    text-align: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.review__title{
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 80px;
    position: relative;
    text-transform: uppercase;
}

.review__title::after{
    content: " ";
    position: absolute;
    width: 170px;
    height: 2px;
    background-color: #EC7979;
    bottom: -40px;
    left: calc(50% - 85px);
}

.review__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 92px;
    color: #86878B
}
.review__comments{
    display: flex;
    column-gap: 30px;
}

.comment__textbox{
background-color:#E2E2E2 ;
border-radius: 10px;
margin-bottom: 66px;
padding: 38px 25px 37px;
}

.comment__text{
color:#86878B ;
font-size: 18px;
line-height: 21px;
}

.comment__person-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;

}
.comment__person-name{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}
.comment__person{
    display:flex;
    column-gap: 29px;
}
.comment__info{
   text-align: left;
   flex-grow: 1 ;
}

.commentor__title{
    margin-bottom: 18px;
}

.comment__person-info{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.contact{
    padding: 121px 170px;
}

.contact__container{
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    text-align: center;
}

.contact__title{
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 80px;
    position: relative;
    text-transform: uppercase
}

.contact__title::after{
    content: " ";
    position: absolute;
    width: 170px;
    height: 2px;
    background-color: #EC7979;
    bottom: -40px;
    left: calc(50% - 85px);
}

.contact__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 89px;
    color: #86878B
}


.form__group{
    display:flex;
    column-gap: 30px;                    
    margin-bottom:50px;
}



.form__inputs{
    display:flex;
    flex-direction: column;
    row-gap:50px;
    flex-basis:571px;
}

.form__input{
    
    font-family: "Open Sans", sans-serif;
    font-size:14px;
    font-weight: 400;
    line-height: 19px;
    color:rgba(0, 0, 0, 1);
    border:none;
    border-bottom:1px solid rgba(189, 189, 189, 1);
    padding-bottom: 16px;
    
}

.form__input::placeholder{
    font-family: "Open Sans", sans-serif;
    font-size:14px;
    font-weight: 400;
    line-height: 19px;
    color:rgba(189, 189, 189, 1);
}



.form__textarea{
    flex-basis:571px;
    resize:none;
    font-family: "Open Sans", sans-serif;
    font-size:14px;
    font-weight: 400;
    line-height: 19px;
    color:rgba(0, 0, 0, 1);
    border: 1px solid transparent; 
    border-bottom:1px solid rgba(189, 189, 189, 1);
}

.form__textarea::placeholder{
    font-family: "Open Sans", sans-serif;
    font-size:14px;
    font-weight: 400;
    line-height: 19px;
    color:rgba(189, 189, 189, 1);
}

.form__btn{
    border:none;
    min-width:370px;
    padding:21px;
    background-color: rgba(236, 121, 121, 1);
    color:rgba(255, 255, 255, 1);
    font-size:18px;
    font-weight:600;
    line-height:25px;
    font-family: "Open Sans", sans-serif;
}

footer{
    background-color:#000000 ;
    padding: 35px 0 27px;
}
.footer__container{
    max-width: 570px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.footer__links{
    display: flex;
    justify-content: center;
    column-gap: 32px;
    margin-bottom: 27px ;
}

.footer__link{
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__link:hover{
    transform: scale(2);
}

.footer__text{
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #D9D9D980;
   opacity: 50%;
   text-align: center;
    
}.download{
    text-align: center;
    padding: 70px 0;
    background-image: url(../img/download__background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

.download::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.download__container{
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
} 

.download__title{
    font-weight: 400;
    line-height: 42px;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 80px;
}

.download__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 80px;
}

.download__link{
    display: inline-block;
    line-height: 28px;
    font-size: 24px;
    color: #FFFFFF;
    border: 4px #FFFFFF solid;
    padding: 20px 100px;
}

.download__link:hover {
    box-shadow: 0px 15px 30px whitesmoke;
}